@font-face {
  font-family: "elephant";
  src: url("./assets/fonts/elephant-outline-webfont.woff") format("woff"),
  }



body {
  overflow: hidden;
  margin: 0;
  background-color: #1a3e4cf5;
  color: #f1eae1;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 56px;
  padding-right: 56px;
  border-left: 1px solid #f1eae1b4;
  border-right: 1px solid #f1eae1b4;
}

.container {
  height: 100vh;
}

header {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  svg {
    height: 140px;
  }
}

.menu {
  flex-grow: 0.2;
  ul {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-inline-start: 0px;
    li {
      list-style-type:none;
      padding-inline-start: 0px;
      cursor: pointer;
      border-bottom: 1px solid transparent;
      padding-bottom: 3px;
      transition: 0.2s ease;
      &:hover {
        border-bottom: 1px solid #f1eae1;
        padding-bottom: 3px;
        transition: 0.2s ease;
      }
    }
  }
}

.booking {
  position: relative;
  &::before {
    content:"";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#f1eae1;
    top: 34px;
  }
  &::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color:#f1eae1;
    top: 38px;
  }
}

.hero-banner {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  img {
    background-color: black;
    opacity: 0.8;
    position: absolute;
    clip-path: inset(8% 18.1% 0% 31% round 25vw 25vw 0vw 0vw); transform: translate3d(0px, 0%, 0px) rotate(0.001deg);
  }
}

.hero-banner-title {
  z-index: 1;
  h1 {
    font-family: "elephant";
    font-size: 110px;
    width: 70%;
    color: white;
    letter-spacing: 5px;
    font-weight: lighter;
    line-height: 104px;
  }
}

.hero-banner-cta {
  position: relative;
  cursor: pointer;
  border: 1px solid #f1eae1;
  padding: 2px 24px;
  &::before {
    content:"";
    position: absolute;
    width: 102%;
    height: 1px;
    background-color:#f1eae1;
    top: 51px;
    left: -1%;
  }
  &::after {
    content:"";
    position: absolute;
    width: 102%;
    height: 1px;
    background-color:#f1eae1;
    top: 55px;
    left: -1%;
  }
}
